function start() { sudo systemctl start $1; }
function stop() { sudo systemctl stop $1; }
function restart() { sudo systemctl restart $1; }

# Creates an archive from given directory
mktgz() { tar cvzf "${1%%/}.tar.gz"  "${1%%/}/"; }
